{% extends "users/base.html" %}
{% block title %}Logout{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="table-responsive col-auto" style="padding-bottom: 1rem;">
        <div class="card">
            <div class="card-header text-center">
                Profile
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="float-left">Name</p>
                    <p class="float-right">{{ request.user.get_full_name|title }}</p>
                </li>
                <li class="list-group-item">
                    <p class="float-left">Phone</p>
                    <p class="float-right">{{ request.user.profile.phone }}</p>
                </li>
                <li class="list-group-item">
                    <p class="float-left">Email</p>
                    <p class="float-right">{{ request.user.email }}</p>
                </li>
                <li class="list-group-item">
                    <p class="float-left">Number Plate</p>
                    <p class="float-right">{{ request.user.profile.plate }}</p>
                </li>
                <li class="list-group-item">
                    <p class="float-left">CNIC</p>
                    <p class="float-right">{{ request.user.profile.cnic }}</p>
                </li>
                <li class="list-group-item">
                    <p class="float-left">Phone</p>
                    <p class="float-right">{{ request.user.profile.phone }}</p>
                </li>
                <li class="list-group-item">
                    <p class="float-left">Subscription</p>
                    {% if not sub_status %}
                    <p class="float-right">Expired</p>
                    {% else %}
                    <p class="float-right">{{ request.user.profile.subscription|date:"M d, Y" }}</p>
                    {% endif %}
                </li>

            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            Reservation
        </div>

        <ul class="list-group list-group-flush">
            {% if number %}
            <li class="list-group-item">
                <p class="float-left">Slot</p>
                <p class="float-right">{{ number }}</p>
            </li>
                {% if not slot_status %}
                <li class="list-group-item">
                    <p class="float-left">Time Remaining</p>
                    <p class="float-right" id="timeCounter"></p>
                </li>
                <li class="list-group-item">
                    <p class="float-right">
                        <a class="btn btn-danger" href="{% url 'release' slot_pk %}">Release</a>
                    </p>
                </li>
                {% endif %}
            {% else %}
            <li class="list-group-item">
                <p class="float-left">No Reservation</p>
                <p class="float-right">
                    <a class="btn btn-success" href="{% url 'book' %}">Reserve Now</a>
                </p>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<script>
    var countDownDate = new Date("{{ timer }}").getTime();
    var x = setInterval(function () {
        var now = new Date();
        var nowUTC = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(), now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());

        var distance = countDownDate - nowUTC;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("timeCounter").innerHTML = minutes + " minutes " + seconds + " seconds ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timeCounter").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
{% endblock content %}